@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-image: url('/assets/images/section-bg.jpg');
}

.bg-color-three-reasons {
    background-color: #faf8f8;
}

.bg-color-personal-info {
    background-color: #e67e22;
}

.bg-color-work-history {
    background-color: #9b59b6;
}

.bg-color-projects-list {
    background-color: #aa2220;
}

.bg-color-contact {
    background-color: #3498db;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-projects {
    background-color: #aa2220;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #043402;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading, .history-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.project-item {
    margin-bottom: 50px;
}

/* ----------------------------------------Special paddings/margins/text */

h1, h2, h3, h4 {
    margin: 0;
}

a {
    color: #e67e22;
}

a:hover {
    text-decoration: none;
    color: #a62f24;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    padding-top: 15px;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.cell {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.row-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-block {
    margin-top: -20px;
}

.spiner {
    width: 135px;
    height: 21px;
    margin-top: 20vh;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.logo {
    background: url("../images/my-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

ul li.ui-menu-color-contact {
    height: 90px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
    border-top-right-radius: 20px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
}

/* ----------------------------------------Footer */

footer {
    background-image: url('/assets/images/section-bg.jpg');
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 60px;
}

/* ----------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* ----------------------------------------Personal Info */

.personal-info-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    color: #fafafa;
}

.personal-info-item .key, .personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p, .personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 25%;
    margin-right: 18px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    width: 65%;
    position: relative;
}

.personal-phone-hide, .personal-email-hide {
    cursor: pointer;
    text-shadow: 1px 1px #000000;
}

.cv-screen {
    height: 100vh;
}

/* styled external sweet alert classes */

.swal-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.swal-text {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-align: center;
}

.swal-footer {
    text-align: center;
}

.swal-button {
    background-color: #e67e22;
}

.swal-button:not([disabled]):hover {
    background-color: #f77300;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ----------------------------------------Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 5px;
}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 10px 5px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 0 20px;
}

.progress .progress-bar span {
    margin-left: 120px;
}

.learning {
    margin: auto;
    font-weight: 500;
}

/* ----------------------------------------Work History */

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    margin: 0;
    padding: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 50%;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

/* ----------------------------------------Contact Form */

.contact-left {
    font-family: "Exo", sans-serif;
    color: #fafafa;
    margin-bottom: 20px;
}

.contact-list {
    color: #fafafa;
    padding-left: 16px;
}

.contact-list li {
    margin-bottom: 20px;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 30px;
    margin: 10px auto;
    max-width: 80%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #3498db;
    border-color: #3498db;
}

.captcha-center {
    display: flex;
    justify-content: center;
}

/* ----------------------------------------Media Queries */

@media(min-width: 576px) {
    .heading {
        margin-left: 50px;
        text-align: left;
    }
    .center-form {
        padding-top: 50px;
        min-height: 240px;
        margin: 10px auto;
        max-width: 75%;
    }
    .progress-section {
        margin: 40px 20px 20px;
    }
}

@media(min-width: 768px) {
    #nav li {
        border-top-right-radius: 20px;
    }
    ul li.ui-menu-color-contact {
        height: 120px;
    }
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 50px;
        min-height: 240px;
        margin: 10px auto;
        max-width: 50%;
    }
    .progress-section {
        margin: 40px 40px;
    }
    .progress-type {
        padding: 3px 30px 5px 10px;
    }
}